.row {
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.column {
  margin: auto;
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
  flex: 1;
}
