@import url('https://fonts.googleapis.com/css2?family=Titillium&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');
* {
  margin: 0;
  padding: 0;
}
.backimg {
  height: 990px;
  background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  margin-top: -70px;
}


.backimg h3 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #001529;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  font-size: 80px;
}
.weatherbox {
  width: 500px;
  background: rgba(0, 0, 0, 0.34);
  height: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 79%;
  opacity: 0.5;
}
.input_fieldboxx {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: space-between;
  float: left;
}
.input_fieldboxx:focus {
  outline: none;
}
.weatherbtn {
  width: 180px;
  height: 60px;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 5px;
  border: 1px solid white;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgray;
  text-align: center;
}
.weatherbtn:hover {
  background-color: #001529;
  border-color: #40a9ff;
  color: white;
}

.location-weather-input {
  font-family: 'Titillium Web', sans-serif;


  
  width: 300px;
  height: 60px;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  color: black;
  font-weight: bold;
  background-color: white;
}
#day {
  position: absolute;
  top: 5%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Times New Roman", Times, serif;
}
#date {
  position: absolute;
  top: 16%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin-top: 15px;
}
#temp {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  color: gold;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 120px;
}
#placeinput::placeholder{
  color: black;
  font-size: 17px;
}
#placeinput:focus{
  outline: none;
}
#place {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 35px;
  font-weight: bold;
}
#detail:hover {
  color: gold;
}
#detail {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 25px;
}
#icon {
  position: absolute;
  top: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 550px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  background: white;
  opacity: 0.4;
  margin-left: -70px;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: white;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .backimg h3 {
    font-size: 35px;
    margin-top: 20px;
  }
  .weatherbox {
    margin-top: -60px;
    height: 250px;
  }
  .input_fieldboxx {
    size: 30px;
    margin-top: 30px;
  }
  .location-weather-input {
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  .weatherbtn {
    width: 140px;
    height: 40px;
    font-size: 15px;
  }
  #day {
    font-size: 40px;
    margin-top: 50px;
  }
  #date {
    font-size: 40px;
    margin-top: 50px;
  }
  #temp {
    font-size: 80px;
    margin-top: 10px;
    margin-left: -20px;
  }
  #place {
    font-size: 40px;
    margin-top: -10px;
  }
  #detail {
    font-size: 30px;
    margin-top: 0px;
  }
  #icon {
    margin-top: 20px;
    font-size: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .backimg h3 {
    font-size: 43px;
    margin-top: 20px;
  }
  .weatherbox {
    margin-top: -60px;
    height: 250px;
  }
  .input_fieldboxx {
    size: 30px;
    margin-top: 30px;
  }
  .location-weather-input {
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  .weatherbtn {
    width: 140px;
    height: 40px;
    font-size: 15px;
  }
  #day {
    font-size: 40px;
    margin-top: 50px;
  }
  #date {
    font-size: 40px;
    margin-top: 50px;
  }
  #temp {
    font-size: 80px;
    margin-top: 10px;
    margin-left: -20px;
  }
  #place {
    font-size: 40px;
    margin-top: -10px;
  }
  #detail {
    font-size: 30px;
    margin-top: 0px;
  }
  #icon {
    margin-top: 20px;
    font-size: 50px;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1400px) {
  .backimg h3 {
    font-size: 56px;
    margin-top: 20px;
  }
  .weatherbox {
    margin-top: -60px;
    height: 250px;
  }
  .input_fieldboxx {
    size: 30px;
    margin-top: 30px;
  }
  .location-weather-input {
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  .weatherbtn {
    width: 140px;
    height: 40px;
    font-size: 15px;
  }
  #day {
    font-size: 40px;
    margin-top: 50px;
  }
  #date {
    font-size: 40px;
    margin-top: 50px;
  }
  #temp {
    font-size: 80px;
    margin-top: 10px;
    margin-left: -20px;
  }
  #place {
    font-size: 40px;
    margin-top: -10px;
  }
  #detail {
    font-size: 30px;
    margin-top: 0px;
  }
  #icon {
    margin-top: 20px;
    font-size: 50px;
  }
}
